{% extends "base.html" %} {% block title %}Add Chore{% endblock %} {% block
content %}
<div class="container">
  <h1 class="mt-5">Add Chore</h1>
  <form method="POST" action="{{ url_for('chore_bp.add_chore') }}">
    <div class="form-group">
      <label for="name">Chore Name</label>
      <input type="text" class="form-control" id="name" name="name" required />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="3"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Chore</button>
  </form>
</div>
{% endblock %}
