{% extends "base.html" %} {% block title %}Desktop Home{% endblock %} {% block
content %}
<header class="text-center">
  <img
    src="{{ url_for('static', filename='images/chore-boss_v1.svg') }}"
    alt="ChoreBoss Logo"
    class="img-fluid svg-logo"
  />
  <h1>ChoreBoss</h1>
  <h2>Chore like a boss!</h2>
</header>
<main class="container">
  <div class="content-container">
    <section id="chores" class="my-4">
      <h2>Chores</h2>
      {% if chores %}
      <ul class="list-group">
        {% for chore in chores %}
        <li class="list-group-item">
          <a href="{{ url_for('chore_bp.get_chore', chore_id=chore.id) }}"
            >{{ chore.name }}</a
          >
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No chores available.</p>
      <button
        class="btn btn-primary"
        onclick="location.href='{{ url_for('chore_bp.add_chore') }}'"
      >
        Add Chore
      </button>
      {% endif %}
    </section>
    <section id="people" class="my-4">
      <h2>People</h2>
      {% if people %}
      <ul class="list-group">
        {% for person in people %}
        <li class="list-group-item">
          <a href="{{ url_for('people_bp.get_person', person_id=person.id) }}">
            {{ person.first_name }} {{ person.last_name }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No people available.</p>
      <button
        class="btn btn-primary"
        onclick="location.href='{{ url_for('people_bp.add_person') }}'"
      >
        Add Person
      </button>
      {% endif %}
    </section>
  </div>
</main>
{% endblock %}
