{% extends "base.html" %} {% block title %}Person Details{% endblock %} {% block
content %}
<div class="container">
  <h1 class="mt-5">{{ person.first_name }} {{ person.last_name }}</h1>
  <p><strong>Birthday:</strong> {{ person.birthday }}</p>
  <p><strong>Chores:</strong></p>
  <ul>
    {% for chore in person.chores %}
    <li>
      <a href="{{ url_for('chore_bp.get_chore', chore_id=chore.id) }}"
        >{{ chore.name }}</a
      >
    </li>
    {% endfor %}
  </ul>
  <button class="btn btn-secondary" onclick="window.history.back()">
    Back
  </button>
</div>
{% endblock %}
